<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Minecraft Block of the Day">
    <title>Minecraft Block of the Day</title>
    <link rel="stylesheet" href="<%= basePath %>/static/styles.css">

    <meta property="og:title" content="Minecraft Block of the Day!" />
    <meta property="og:description" content="Today's Block: <%= block.name %>!" />
    <meta property="og:image" content="<%= block.image %>" />
    <meta property="og:url" content="https://lohiv.com/block-of-the-day/" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Minecraft Block of the Day!" />
    <meta name="twitter:description" content="Today's Block: <%= block.name %>!" />
    <meta name="twitter:image" content="<%= block.image %>" />
</head>
<body>
    <header>
        <h1>Minecraft Block of the Day</h1>
    </header>
    <main>
        <div class="block-container">
            <h1>Today's Block:</h1>
            <h2><span id="block-name"><%= block.name %></span></h2>
            <img id="block-image" class="block-image" src="<%= block.image %>" alt="Minecraft Block">
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Lohi | All data fetched from <a href="https://minecraft.wiki">minecraft.wiki</a> | Download the local version: <a href="https://lohiv.com/block-of-the-day/static/index.html" download="block-of-the-day.html">here!</a></p>
        <p><a href="/api">API</a></p>
    </footer>
</body>
</html>